body{
	font-family: Roboto;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav_header{
	list-style: none;
	display: flex;
	flex-direction: row;
}
.list_header{
	padding-left: 30px;
}

.banniere{
	background-image: url(backgroung_image.jpg);
	background-size: 100% 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo_ban{
	width: 200px;
	height: 60px;
}

h1{
	color: white;
	font-weight: normal;
	font-size: 2em;
}

.text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 560px;
	padding-top: 32px;
	margin: auto;
}

.text_1{
	text-align: center;
	font-size: 1.2em;
	width: 805px;
	padding-bottom: 30px;
	margin-bottom: 32px;
}

.ctn_vignette{
	display: flex;
	flex-direction: row;
	width: 805px;
	margin-bottom: 52px;
}

.boite_vignette{
	width: 275px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img_vignette{
	width: 65px;
	height: 65px;
}

.h2_body{
	font-weight: normal;
}

.text_vignette{
	width: 230px;
	font-size: 0.8em;
	display: flex;
	text-align: center;
}

.text_2{
	width: 602px;
	text-align: center;
	color: #575761;
}

.text_3{
	font-size: 1.2em;
}

.sous_text{
	font-size: 0.9em;
}

footer{
	background-color: #5b359d;
	display: flex;
	color: white;
	flex-direction: column;
	align-items: center;
	align-content: space-around;
}

.logo_foot{
	width: 100%;
	display: flex;
	justify-content: center;
}

.fab{
	color: #bdaed8;
	margin-right: 40px;
	margin-left: 40px;
}

.ctn_list_foot{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.agence{
	font-size: 0.8em;
	margin-top: 25px;
}

.tit_list{
	color: #bdaed8;
	font-weight: normal;
}


   /* Animation */

.list_header:hover{
	color: #9683EC;
	font-weight: bold;
	text-decoration: underline;
}

.boite_vignette:hover{
	border: 2px #afafaf solid;
	border-radius: 5px;
	box-shadow: 4px 4px 2px #afafaf;
}

.fa-twitter:hover{
	color: #00acee;
}

.fa-facebook-f:hover{
	color: #4267B2;
}

.fa-instagram:hover{
	color: #5851db;
}